---
import type { LottieAnimationConfig } from "./dist/index";

export interface Props extends LottieAnimationConfig {}

const { id, src, player, autoplay, loop } = Astro.props;
const lottieData = {
    id,
    src,
    player,
    autoplay,
    loop,
};
---

<div data-lottie data-lottie-data={JSON.stringify(lottieData)}></div>
